@using TicTacToe.HtmlHelpers
@model TicTacToeModel
@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="text-center">
    <h1 class="display-4">Ваш ход, 
        <code>
            @if (@Model.WhoseMove == 2)
            {
                @Model.NameO
            }
            else
            {
                @Model.NameX    
            }
        </code>
        </h1>
</div>

<div class="container">
    <table class="field">
        <tr>
            <td class="cell">
                <code>
                    @if (Model.Field[0] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 0)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }    
                    }
                    else
                    {
                        @Model.Field[0]
                    }
                </code>
            </td>
            <td class="cell">
                <code>

                    @if (Model.Field[1] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 1)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[1]
                    }
                </code>
            </td>
            <td class="cell">
                
                <code>

                    @if (Model.Field[2] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 2)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[2]
                    }
                </code>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <code>
                    @if (Model.Field[3] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 3)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[3]
                    }
                </code>
            </td>
            <td class="cell">
                <code>
                    @if (Model.Field[4] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 4)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[4]
                    }
                </code>
            </td>
            <td class="cell">
                <code>
                    @if (Model.Field[5] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 5)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[5]
                    }
                </code>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <code>
                    @if (Model.Field[6] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 6)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[6]
                    }
                </code>
            </td>
            <td class="cell">
                <code>
                    @if (Model.Field[7] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 7)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[7]
                    }
                </code>
            </td>
            <td class="cell">

                <code>

                    @if (Model.Field[8] == " ")
                    {
                        @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                        {
                            @Html.Hidden("encode", Model.Serialize())
                            @Html.Hidden("cell", 8)
                            @Html.Hidden("nameX", Model.NameX)
                            @Html.Hidden("nameO", Model.NameO)
                            @Html.Hidden("whoseMove", Model.WhoseMove)
                            @Html.CellButton()
                        }
                    }
                    else
                    {
                        @Model.Field[8]
                    }
                </code>
            </td>
        </tr>
    </table>
</div>

<form method="post" asp-area="" asp-controller="Home" asp-action="Game">
    
</form>

@using (Html.BeginForm("Game", "Home", FormMethod.Post))
{
    @Html.Hidden("nameX", Model.NameX)
    @Html.Hidden("nameO", Model.NameO)
    @Html.SubmitButton("Новая игра")
}

@using (Html.BeginForm("GameOver", "Home", FormMethod.Post))
{
    @Html.SubmitButton("Завершить игру")
}


