@using TicTacToe.HtmlHelpers
@model TicTacToeModel
@{
    ViewData["Title"] = "Tic Tac Toe";
}

@if ((Context.Session.GetInt32("MyPlayer") == 1 && !Model.Game.ConnectedO)
    || (Context.Session.GetInt32("MyPlayer") == 2 && !Model.Game.ConnectedX))
{
    <div class="text-center">
        <h1 class="display-4">
            Ждём второго игрока, не забудь перезагрузить страницу!
        </h1>
    </div>
}
else if ((Context.Session.GetInt32("MyPlayer") == 2 && !Model.Game.ConnectedO)
         || (Context.Session.GetInt32("MyPlayer") == 1 && !Model.Game.ConnectedX))
{
    <div class="text-center">
        <h1 class="display-4">
            Игра окончена, нажмите "Завершить игру"
        </h1>
    </div>
}
else
{
    <div class="text-center">
        @if (Model.Winner == 1)
        {
            <h1 class="display-4">
                <code>
                    @Model.Game.NameX
                </code>
                is the winner!
            </h1>
        }
        else if (Model.Winner == 2)
        {
            <h1 class="display-4">
                <code>
                    @Model.Game.NameO
                </code>
                is the winner!
            </h1>
        }
        else if(Context.Session.GetInt32("MyPlayer") == Model.Game.WhoseTurnAsInt)
        {
            <h1 class="display-4">
                Ваш ход,
                <code>
                    @if (Model.WhoseMove == 2)
                    {
                        @Model.Game.NameO
                    }
                    else
                    {
                        @Model.Game.NameX
                    }
                </code>
            </h1>
        }
        else
        {
            <h1 class="display-4">
                Пододжди,
                <code>
                    @if (Model.WhoseMove == 2)
                    {
                        @Model.Game.NameX
                    }
                    else
                    {
                        @Model.Game.NameO
                    }
                </code>
                , сейчас ход
                <code>
                    @if (Model.WhoseMove == 2)
                    {
                        @Model.Game.NameO
                    }
                    else
                    {
                        @Model.Game.NameX
                    }
                </code>
                Не забудь перезагрузить страницу!
            </h1>
        }
    </div>

    <div class="container">
        <table class="field">
            <tr>
                <td class="cell">
                    <code>
                        @if (Model.Field[0] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 0)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[0]
                        }
                    </code>
                </td>
                <td class="cell">
                    <code>
                        @if (Model.Field[1] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 1)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[1]
                        }
                    </code >
                </td >
                <td class="cell">

                    <code>
                        @if (Model.Field[2] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 2)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[2]
                        }
                    </code >
                </td >
            </tr >
            <tr >
                <td class="cell">
                    <code >
                        @if (Model.Field[3] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 3)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[3]
                        }
                    </code >
                </td >
                <td class="cell">
                    <code >
                        @if (Model.Field[4] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 4)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[4]
                        }
                    </code >
                </td >
                <td class="cell">
                    <code >
                        @if (Model.Field[5] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 5)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[5]
                        }
                    </code >
                </td >
            </tr >
            <tr >
                <td class="cell">
                    <code >
                        @if (Model.Field[6] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 6)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[6]
                        }
                    </code >
                </td >
                <td class="cell">
                    <code >
                        @if (Model.Field[7] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 7)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[7]
                        }
                    </code >
                </td >
                <td class="cell">

                    <code >
                        @if (Model.Field[8] == " ")
                        {
                            @using (Html.BeginForm("GameMove", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("cell", 8)
                                @Html.Hidden("currentGameNumber", Model.GameNumber)
                                @Html.CellButton(Model.Winner != 0 
                                                 || Context.Session.GetInt32("MyPlayer") != Model.Game.WhoseTurnAsInt)
                            }
                        }
                        else
                        {
                            @Model.Field[8]
                        }
                    </code >
                </td >
            </tr >
        </table >
    </div>
}


@using (Html.BeginForm("Game", "Home", FormMethod.Post, new {id = "refresh"}))
{
    @Html.Hidden("currentGameNumber", Model.GameNumber)
    @Html.SubmitButton("Перезагрузить страницу")
}


@using (Html.BeginForm("NewGame", "Home", FormMethod.Post))
{
    @Html.Hidden("currentGameNumber", Model.GameNumber)
    @Html.SubmitButton("Новая игра")
}


@using (Html.BeginForm("GameOver", "Home", FormMethod.Post, new {id = "endGame"}))
{
    @Html.Hidden("currentGameNumber", Model.GameNumber)
    @Html.SubmitButton("Завершить игру")
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
window.setTimeout(() =>{
    if ((@Context.Session.GetInt32("MyPlayer") === 1
            && "@Model.Game.ConnectedX" !== "True")
        || (@Context.Session.GetInt32("MyPlayer") === 2
            && "@Model.Game.ConnectedO" !== "True")
        || @Context.Session.GetInt32("MyPlayer") == null)
    {
        document.forms["endGame"].submit()
    }
    else 
    {    
        document.forms["refresh"].submit()
    }
}, 1500)  
</script> 