@using TicTacToe.HtmlHelpers
@model Index

@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tic Tac Toe</h1>
</div>

@using (Html.BeginForm("Game", "Home", FormMethod.Post))
{
    @Html.Label("Введите имя игрока X")
    @Html.TextBox("nameX")
    @Html.Break()
    @Html.Label("Введите имя игрока 0")
    @Html.TextBox("nameO")
    @Html.Break()
    @Html.SubmitButton("Начать игру");
}